:root {
  --color-primary: #d6ffac;
  --color-secondary: #474747;
  --color-tertiary: #d7ebf5;
  --bodycopy: 16px;
  --bodycopy-lh: 24px;
  --font-base: "Inter", sans-serif;
  --title-l: 8vw;
  --title-l-lh: 8vw;
  --title--m: 20px;
  --title--m-lh: 20px;
  --font-display: "Anek Odia", serif;
}

@keyframes scaleIn {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes curtain {
  from {
    left: 25vw;
  }
  to {
    left: -25vw;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-tertiary);
}

.header {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  z-index: 55;
  display: flex;
  justify-content: space-between;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  position: relative;
  font-family: var(--font-base);
  font-size: var(--font-size);
}

.header a::after {
  content: "";
  display: inline-block;
  height: 1px;
  bottom: -2px;
  left: 0;
  right: 100%;
  background: var(--color-primary);
  position: absolute;
  transition: right 0.3s ease;
}

.header a:hover::after {
  right: 24px;
}

.header svg path {
  stroke: var(--color-primary);
}

.header.is-first svg path {
  stroke: var(--color-primary);
}

.header.is-first a::after {
  background: var(--color-primary);
}

.header.is-first a {
  color: var(--color-primary);
}

.cursor {
  width: 153px;
  height: 153px;
  position: fixed;
  z-index: 3;
  border-radius: 96px;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  color: var(--color-negative);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);
  font-size: var(--font-size);
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
}

.cursor img {
  transform: scale(0.8);
}

.slider {
  width: 100%;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  overflow: hidden;
}

.slider__item {
  width: 100%;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  position: relative;
}

.slide__part {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  position: absolute;
  inset: 0;
  overflow: hidden;
  left: 0;
  width: 25vw;
  z-index: 3;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  box-sizing: border-box;
}

.slide__part::before {
  content: "";
  display: inline-block;
  background-size: cover;
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slide__part--2::before {
  clip-path: polygon(25% 0%, 55% 0%, 55% 100%, 25% 100%);
  z-index: 2;
  height: 100vh;
  bottom: 0;
  top: 0;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  transform-origin: 40% 50%;
}

.slide__part::before {
  background-position: 50% 50%;
  transform: scale(1.2);
}

.slider__item {
  display: none;
  position: absolute;
}

.slider__item.active {
  display: block;
}

.SplitTextJS-wrapper {
  display: flex;
}

.inner-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slider__item.active .slide__part--4::before {
  animation-name: scaleIn;
  animation-duration: 5.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.slider .slider__item.active .slide__part--3::before {
  animation-name: scaleIn;
  animation-duration: 5.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.inner-wrapper,
.country {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0;
  animation-delay: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.slider .slider__item.active .slide__part--2::before {
  animation-name: scaleIn;
  animation-duration: 5.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.slider .slider__item.active .slide__part--1::before {
  animation-name: scaleIn;
  animation-duration: 5.5s;
  animation-delay: -0.5;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.slide__part .line {
  content: "";
  width: 1px;
  z-index: 50;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--color-secondary);
}

.slide__part--2 {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  position: absolute;
  inset: 0;
  overflow: hidden;
  left: 0;
  width: 25vw;
  left: 25vw;
}

.slider__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
}

.slider .slider__item:first-child .slide__part::before {
  background-image: url("../images/imagen-3.jpg");
}

.slider .slider__item:nth-child(2) .slide__part::before {
  background-image: url("../images/imagen-1.jpg");
}

.slider .slider__item:nth-child(3) .slide__part::before {
  background-image: url("../images/imagen-2.jpg") !important;
}

.slide__part--1::before {
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  z-index: 2;
  height: 100vh;
  bottom: 0;
  top: 0;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  transform-origin: 0% 0%;
}

@media screen and (min-width: 768px) {
  .slide__part--1 .line {
    display: none;
  }
}

.slide__part--3 {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  position: absolute;
  inset: 0;
  overflow: hidden;
  left: 0;
  width: 25vw;
  left: 50vw;
}

.slide__part--3::before {
  clip-path: polygon(50% 0%, 75% 0%, 75% 100%, 50% 100%);
  z-index: 2;
  animation-fill-mode: forwards;
  height: 100vh;
  bottom: 0;
  top: 0;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  transform-origin: 60% 50%;
}

.slide__part--4 {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  position: absolute;
  inset: 0;
  overflow: hidden;
  left: 0;
  width: 25vw;
  left: 75vw;
}

.slide__part--4::before {
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
  z-index: 2;
  height: 100vh;
  bottom: 0;
  top: 0;
  background-size: cover;
  position: fixed;
  transform-origin: 100% 100%;
  left: 0;
  right: 0;
}

.slide img {
  max-width: 100%;
  object-fit: cover;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.slide__text {
  position: relative;
  z-index: 40;
  writing-mode: vertical-lr;
  text-align: center;
  font-family: var(--font-display);
  color: var(--color-primary);
  transform: rotate(180deg);
  font-weight: 300;
}

.title {
  position: absolute;
  bottom: 44px;
  font-size: var(--title-l);
  line-height: var(--title-l-lh);
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.arrow-icon {
  height: 4vw;
  rotate: 180deg;
  margin-right: -1.5vw;
  margin-top: 1vh;
}

.arrow-icon svg {
  height: 100%;
}

.curtain {
  position: absolute;
  bottom: 0;
  left: 0;
  right: -2px;
  top: 0;
  width: 25vw;
  z-index: 30;
  background-color: var(--color-secondary);
}

.subtitle {
  bottom: 44px;
  right: 18vw;
  position: absolute;
}

.distance {
  right: 4vw;
  position: absolute;
  top: 44px;
}

.distance:last-child {
  bottom: 44px;
  top: auto;
}

.country {
  font-size: var(--title-l);
  line-height: var(--title-l-lh);
  position: absolute;
  right: 7vw;
  bottom: 44px;
}

@media screen and (max-width: 768px) {
  .slide__part {
    width: 100vw;
    min-height: auto !important;
    height: 25% !important;
    left: 0;
    right: 0;
  }

  .slider__content .slide__part--1 {
    top: 25%;
  }

  .slider__content .slide__part--2 {
    top: 50%;
  }

  .slide__part::before {
    clip-path: none;
  }

  .slide__part--2 {
    top: 25%;
  }

  .slide__part--3 {
    top: 50%;
  }

  .slide__part--4 {
    top: 75%;
  }

  .curtain {
    width: 100vw;
  }

  .slide__part .line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100vw;
  }

  .slide__text {
    transform: none;
    writing-mode: inherit;
  }

  .subtitle {
    left: 0;
    right: 0;
    text-align: left;
    bottom: auto;
    top: 8vh;
    left: 16px;
  }

  .title,
  .country {
    left: 16px;
    font-size: 10vh;
    line-height: 12vh;
    bottom: 0;
  }

  .inner-wrapper {
    width: 100vw;
    justify-content: flex-start;
  }

  .main-title {
    padding-top: 2vh;
  }

  .distance:last-child {
    bottom: 13px;
  }

  .distance:nth-child(2) {
    top: auto;
    bottom: 13px;
    left: 16px;
    right: auto;
  }

  .country {
    left: 16px;
    text-align: left;
    top: 8vh;
  }

  .title .mobile-icon {
    width: 10vw;
    margin-right: auto;
    margin-left: 2vw;
    margin-top: 0;
  }

  .arrow-icon {
    rotate: 90deg;
    flex-shrink: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-left: -10px;
  }
}